In [1]:
import pandas as pd
import numpy as np
from plotly.offline import init_notebook_mode,iplot,plot
import plotly.graph_objs as go
import cufflinks as cf
import seaborn as sns
import matplotlib.pyplot as plt

init_notebook_mode(connected=True)
cf.go_offline()

%matplotlib inline

In [2]:
df1 = pd.read_csv('datasets/covid_19_data.csv')

In [3]:
df1.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156292 entries, 0 to 156291
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              156292 non-null  int64
 1   ObservationDate  156292 non-null  object
 2   Province/State   111979 non-null  object
 3   Country/Region   156292 non-null  object
 4   Last Update      156292 non-null  object
 5   Confirmed        156292 non-null  float64
 6   Deaths           156292 non-null  float64
 7   Recovered        156292 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 9.5+ MB

In [5]:
df1.isnull().value_counts()

SNo    ObservationDate  Province/State  Country/Region  Last Update  Confirmed  Deaths  Recovered
False  False            False           False           False        False      False   False        111979
                        True            False           False        False      False   False         44313
dtype: int64

In [6]:
df1.fillna(method='ffill',inplace=True)

In [7]:
df1.isnull().value_counts()

SNo    ObservationDate  Province/State  Country/Region  Last Update  Confirmed  Deaths  Recovered
False  False            False           False           False        False      False   False        156292
dtype: int64

In [8]:
columns =['Recovered','Deaths','Confirmed']
df11 = pd.DataFrame(data= df1,columns=columns)

In [9]:
df11.head()

   Recovered  Deaths  Confirmed
0        0.0     0.0        1.0
1        0.0     0.0       14.0
2        0.0     0.0        6.0
3        0.0     0.0        1.0
4        0.0     0.0        0.0

In [ ]:
sns.pairplot(df11)

In [ ]:
df2 = pd.read_csv('datasets/time_series_covid_19_confirmed.csv')

In [ ]:
df2.head()

In [ ]:
df2.info()

In [ ]:
df2.drop(columns=['Lat','Long','Province/State'],axis=1,inplace=True)

In [ ]:
df2.head()

In [ ]:
df2['Total_count']=df2.sum(axis=1)

In [ ]:
data = dict(type='choropleth',
            colorscale = 'matter',
            locations = df2['Country/Region'], 
            locationmode = 'country names',
            z = df2['Total_count'],
            marker = dict(line = dict(color = 'rgb(255,255,255)',width = 2)),
            colorbar = {'title':"Cases"}
            ) 


layout = dict(title = 'COVID-19 WORLD CONFIRMED CASES (till 22/11/2020)',
              geo = dict(scope='world',
                        showframe = False
             )
        )


choromap = go.Figure(data = [data],layout = layout)

iplot(choromap)

<img src="Confirmed cases/worlwide.png">

In [ ]:
df2.iplot(kind='scatter',x="Country/Region",y="Total_count",color = 'Blue')

<img src="Confirmed cases/graphical.png">

In [ ]:
df3 = pd.read_csv('datasets/time_series_covid_19_deaths.csv')

In [ ]:
df3.head()

In [ ]:
df3.info()

In [ ]:
df3.drop(columns=['Province/State','Lat','Long'],axis=1,inplace=True)

In [ ]:
df3["Total_count"] = df3.sum(axis=1)

In [ ]:
data = dict(type='choropleth',
            colorscale = 'rainbow',
            locations = df3['Country/Region'], 
            locationmode = 'country names',
            z = df3['Total_count'],
            marker = dict(line = dict(color = 'rgb(255,255,255)',width = 2)),
            colorbar = {'title':"Cases"}
            ) 


layout = dict(title = 'COVID-19 WORLD DEATH CASES (till 22/11/2020)',
              geo = dict(scope='world',
                        showframe = False
             )
        )


choromap = go.Figure(data = [data],layout = layout)

iplot(choromap)

<img src='Deaths Cases/worldwide.png'>

In [ ]:
df3.iplot(kind='scatter',x="Country/Region",y="Total_count",color = 'Red')

<img src='Deaths Cases/garphical.png'>

In [ ]:
df4 = pd.read_csv('datasets/time_series_covid_19_recovered.csv')

In [ ]:
df4.head()

In [ ]:
df4.drop(columns=['Province/State','Lat','Long'],axis=1,inplace=True)

In [ ]:
df4["Total_count"]=df4.sum(axis=1)

In [ ]:
data = dict(type='choropleth',
            colorscale = 'brbg',
            locations = df4['Country/Region'], 
            locationmode = 'country names',
            z = df4['Total_count'],
            marker = dict(line = dict(color = 'rgb(255,255,255)',width = 2)),
            colorbar = {'title':"Cases"}
            ) 


layout = dict(title = 'COVID-19 WORLD RECOVERED CASES (till 22/11/2020)',
              geo = dict(scope='world',
                        showframe = False
             )
        )


choromap = go.Figure(data = [data],layout = layout)

iplot(choromap)

<img src='Recovered Cases/worlwide.png'>

In [ ]:
df4.iplot(kind='scatter',x="Country/Region",y="Total_count",color = 'Green')

<img src='Recovered Cases/garphical plot.png'>